@import 'post.css';
@import 'popular.css';
@import 'navigation.css';

.mb-4 {
    margin-bottom: 16px;
}

.v-card-title {
    font-weight: bold;
}

.sidebar-title {
    background-color: #ff66b2;
    color: white;
    padding: 10px;
}

.v-card-text {
    color: #333;
}

.my-4 {
    margin-top: 16px;
    margin-bottom: 16px;
}

.mx-2 {
    margin-left: 8px;
    margin-right: 8px;
}